<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pro2</display-name>

  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>list</servlet-name>
  	<servlet-class>com.bit.pro2.controller.ListController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>addform</servlet-name>
  	<servlet-class>com.bit.pro2.controller.AddFormController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.bit.pro2.controller.AddController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>detail</servlet-name>
  	<servlet-class>com.bit.pro2.controller.OneController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>edit</servlet-name>
  	<servlet-class>com.bit.pro2.controller.EditFormController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<servlet-class>com.bit.pro2.controller.EditController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<servlet-class>com.bit.pro2.controller.DelController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_admission</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_admissionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_submain</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_submainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_subcreate</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_subcreateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_consult</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_consultController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_attend</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_attendController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_scoremain</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_scoremainController</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>mg_scoreedit</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_scoreeditController</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>mg_adsave</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_adsaveController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mg_scsave</servlet-name>
  	<servlet-class>com.bit.pro2.controller.Mg_scsaveController</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>myinfo</servlet-name>
    <servlet-class>com.bit.pro2.controller.MyinfoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myupdate</servlet-name>
    <servlet-class>com.bit.pro2.controller.MyupdateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mypage</servlet-name>
    <servlet-class>com.bit.pro2.controller.MypageController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mypagein</servlet-name>
    <servlet-class>com.bit.pro2.controller.MypageInController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mypageout</servlet-name>
    <servlet-class>com.bit.pro2.controller.MypageOutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mycheckin</servlet-name>
    <servlet-class>com.bit.pro2.controller.MycheckinController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myscore</servlet-name>
    <servlet-class>com.bit.pro2.controller.MyscoreController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myclass</servlet-name>
    <servlet-class>com.bit.pro2.controller.MyclassController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myclassapp</servlet-name>
    <servlet-class>com.bit.pro2.controller.MyclassAppController</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
  	<servlet-name>list</servlet-name>
  	<url-pattern>/list.bit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>addform</servlet-name>
  	<url-pattern>/add.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/insert.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>detail</servlet-name>
  	<url-pattern>/detail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>edit</servlet-name>
  	<url-pattern>/edit.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update.bit</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_admission</servlet-name>
  	<url-pattern>/mg_admission.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_submain</servlet-name>
  	<url-pattern>/mg_submain.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_subcreate</servlet-name>
  	<url-pattern>/mg_subcreate.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_consult</servlet-name>
  	<url-pattern>/mg_consult.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_attend</servlet-name>
  	<url-pattern>/mg_attend.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_scoremain</servlet-name>
  	<url-pattern>/mg_scoremain.bit</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>mg_scoreedit</servlet-name>
  	<url-pattern>/mg_scoreedit.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_adsave</servlet-name>
  	<url-pattern>/mg_adsave.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mg_scsave</servlet-name>
  	<url-pattern>/mg_scsave.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myinfo</servlet-name>
    <url-pattern>/myinfo.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myupdate</servlet-name>
    <url-pattern>/myupdate.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mypage</servlet-name>
    <url-pattern>/mypage.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mypagein</servlet-name>
    <url-pattern>/mypagein.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mypageout</servlet-name>
    <url-pattern>/mypageout.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mycheckin</servlet-name>
    <url-pattern>/mycheckin.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myscore</servlet-name>
    <url-pattern>/myscore.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myclass</servlet-name>
    <url-pattern>/myclass.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myclassapp</servlet-name>
    <url-pattern>/myclassapp.bit</url-pattern>
  </servlet-mapping>
</web-app>
